section.about 
  .container 
    +textTitle('Về chúng tôi')
    p.about__caption='Khám phá tin tức mới nhất về WTA trên blog của chúng tôi'
    .about__post 
      .about__content
        h3.about__title='Chúng tôi là WTA'
        p.about__article='WTA Token là tài sản số chính thức của Quỹ khởi nghiệp sáng tạo dành cho phụ nữ toàn cầu, được phát triển bởi đội ngũ chuyên gia và cố vấn tại nhiều nơi trên thế giới.'
        p.about__article='WTA Token dựa trên nền tảng công nghệ Blockchain dành cho các cá nhân, doanh chủ và doanh nghiệp cho việc phát triển, quản lý chuỗi cung ứng qua các hợp đồng thông minh.'
        p.about__article='WTA với tầm nhìn trong vòng 5 năm tới, sẽ hỗ trợ hàng triệu người trên thế giới và hàng ngàn doanh nghiệp khởi nghiệp sáng tạo, xây dựng nền tảng và hệ sinh thái doanh nghiệp bền vững.'
      .about__thumbnail 
        img(src='images/about.png' alt='bg')
        img(src='images/play.png' alt='play')